CONFIG_RUST=y
CONFIG_ARM64_ACTLR_STATE=y
CONFIG_ARCH_APPLE=y
# CONFIG_ARM64_4K_PAGES is not set
CONFIG_ARM64_16K_PAGES=y
# CONFIG_ARM64_64K_PAGES is not set
CONFIG_ARM64_MEMORY_MODEL_CONTROL=y
CONFIG_ARM_APPLE_CPUIDLE=y
CONFIG_ARM_APPLE_SOC_CPUFREQ=m
CONFIG_BT_HCIBCM4377=m
CONFIG_PCIE_APPLE=y
CONFIG_NVME_APPLE=m
CONFIG_BRCMFMAC=m
CONFIG_BRCMFMAC_PCIE=y
CONFIG_TOUCHSCREEN_APPLE_Z2=m
CONFIG_INPUT_MACSMC_HID=m
CONFIG_I2C_APPLE=m
CONFIG_SPI_APPLE=m
CONFIG_SPMI_APPLE=m
CONFIG_PINCTRL_APPLE_GPIO=m
CONFIG_GPIO_MACSMC=m
CONFIG_POWER_RESET_MACSMC=m
CONFIG_CHARGER_MACSMC=m
CONFIG_SENSORS_MACSMC=m
CONFIG_APPLE_WATCHDOG=m
CONFIG_VIDEO_APPLE_ISP=m
CONFIG_DRM_ASAHI=m
CONFIG_DRM_ADP=m
CONFIG_DRM_APPLE=m
CONFIG_DRM_APPLE_AUDIO=y
CONFIG_SND_SOC_APPLE_AOP_AUDIO=m
CONFIG_SND_SOC_APPLE_MCA=m
CONFIG_SND_SOC_APPLE_MACAUDIO=m
CONFIG_SND_SOC_CS42L83=m
CONFIG_SND_SOC_CS42L84=m
CONFIG_SND_SOC_TAS2764=m
CONFIG_SND_SOC_TAS2770=m
CONFIG_HID_APPLE=m
CONFIG_HID_MAGICMOUSE=m
CONFIG_SPI_HID_APPLE_OF=m
CONFIG_SPI_HID_APPLE_CORE=m
CONFIG_USB_XHCI_PCI_ASMEDIA=y
CONFIG_RTC_DRV_MACSMC=m
CONFIG_APPLE_ADMAC=m
CONFIG_APPLE_SIO=m
CONFIG_APPLE_PLATFORMS=y
CONFIG_APPLE_SMC=m
CONFIG_APPLE_SMC_RTKIT=m
CONFIG_COMMON_CLK_APPLE_NCO=m
CONFIG_APPLE_DART=m
CONFIG_APPLE_DOCKCHANNEL=m
CONFIG_APPLE_MAILBOX=y
CONFIG_APPLE_PMGR_MISC=y
CONFIG_APPLE_RTKIT=y
CONFIG_APPLE_RTKIT_HELPER=m
CONFIG_APPLE_SART=m
CONFIG_RUST_APPLE_RTKIT=y
CONFIG_APPLE_AOP=m
CONFIG_APPLE_SEP=m
CONFIG_APPLE_PMGR_PWRSTATE=y
CONFIG_IIO_AOP_SENSOR_LAS=m
CONFIG_IIO_AOP_SENSOR_ALS=m
CONFIG_PWM_APPLE=m
CONFIG_APPLE_AIC=y
CONFIG_PHY_APPLE_ATC=m
CONFIG_PHY_APPLE_DPTX=m
CONFIG_APPLE_M1_CPU_PMU=y
CONFIG_NVMEM_APPLE_EFUSES=m
CONFIG_NVMEM_APPLE_SPMI=m
CONFIG_MUX_APPLE_DPXBAR=m
